*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:  black;
    font-family: cursive;
    background-image: url("earth.jpg");
    background-repeat: no-repeat;
    color: hsl(90, 90%, 90%);
    background-size: cover;
}
.flex{
    display: flex;
}

/* MAIN DESKTOP*/
main{
    padding: 0px 60px;
}
main section{
    margin-bottom: 60px;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}
main section h1{
    font-size: 70px;
    margin-bottom: 20px;
    animation: onScrollEffectLeft 2s linear 0s 1;
}
main section.flex > div{
    width: 50%;
}
button:not(ol button){
    color: black;
    border-radius: 30px;
    width: 150px;
    margin-right: 20px;
    padding: 15px;
    background-color: pink;
    border: none;
    outline: none;
}
button:hover:not(ol button:hover){
    background-color: skyblue;
    cursor: pointer;
}

/* EARTH SECTION DESKTOP*/
section#earth img[alt = "earth_img"]{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: earth 4s linear 0s infinite, onScrollEffectRight 2s linear 0s 1;
}
div#wherever div{
    justify-content: center;
}
img[alt = "google-play_img"] {
    border-radius: 35px;
    transform: scale(0.9);
}


/* STUDENTS SECTION DESKTOP*/
img[alt = "students2_1_img"] {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    animation: onScrollEffectLeft 2s linear 2s 1, whyImages 1s linear 0s infinite; ; 
}

/* CARDS SECTION DESKTOP*/
section#cards div.flex img{
   width: 25%;
   margin: 0px 20px;
}

/* WHYSHANA SECTION DESKTOP*/
video{
    z-index: -1;
    position: sticky;
    width: 100%;
    top: 100px;
    opacity: 0.5;
}
article{
    display: flex;
    margin-bottom: 100px;
}
article h2{
    font-size: 60px;
    margin-top: 40px;
    animation: onScrollEffectRight 2s linear 2.5s 1, whyImages 0.7s linear 0s infinite; 
    color: skyblue;
}
article h2:first-child, article h2:nth-child(3){
    animation: whyImages 0.7s linear 0s infinite;
}
article img{
    width: 50%;
    border-radius: 30px;
    animation: whyImages 1s linear 0s infinite; 
}

/* BUTTONS SECTION */
div#buttons{
    justify-content: center;
}

/* MECHSEIKO SECTION */
img[alt="mech_img"]{
    width: 90%;
    height: 70vh;
}
